<h1>{{title}}</h1>
<form method="POST" action="/new">
    <label for="name-field">User:</label>
    <input type="text" name="user" id="nameField"><br />

    <label for="message-field">Message:</label>
    <input type="text" name="message" id="messageField"><br />
    <input type="submit" value="submit">
</form>